{{ $conf := .Conf }}
<html>
  <head>
    <title>Minimoozie - {{ .Title }}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/vis.min.css">
<script src="/vis.min.js"></script>
<script>
  $(function() {
    var nodes = [{"id": "kill", "label": "kill", "level": {{ .Dag.Actions | len }}}]
    var edges = []

    {{ range $index, $Node := .Dag.Actions }}
    nodes.push({ "id": {{$Node.Name}}, "label": {{ $Node.Name }}, "level": {{ $index}}})
      edges.push({ "from": {{$Node.Name}}, "to": {{ $Node.Ok.To }}, "arrows": "to", "color":"green"})
      edges.push({ "from": {{$Node.Name}}, "to": {{ $Node.Error.To }}, "arrows": "to", "color":"red"})
    {{ end }}

    var container = document.getElementById('visualizationCanvas');
    var data = {
      nodes: new vis.DataSet(nodes),
      edges: new vis.DataSet(edges)
    };
    var options = {edges: {smooth: {roundness: 1, type: 'discrete'}}};
    var network = new vis.Network(container, data, options);
  })
</script>
  </head>
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
           </button> <a class="navbar-brand" href="#"><img src="https://data.shopify.com/assets/data-logo-822bec14e758fa47c84a6aeb1f69c10aba2de8dbb4fa32299045d31020ba5ea3.svg" width="15px"></a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
            <a href="http://{{ $conf.OozieURL }}/oozie">Real Oozie</a>
						</li>
					</ul>
				</div>
				
			</nav>
      <!-- viz -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Flow</h3>
        </div>
        <div class="panel-body">
          <div id="visualizationCanvas">
          </div>
        </div>
      </div>

      <!-- list -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ .Title }}</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Id</th>
              <th>Started At</th>
              <th>Ended At</th>
              <th>Status</th>
              <th>Run Link</th>
              <th>Full Log</th>
              <th>Console</th>
            </tr>
            {{ range $index, $job := .Flows }}
            <tr>
              <td>{{ $index }} </td>
              <td>{{ $job.StartTime }}</td>
              <td>{{ $job.EndTime }}</td>
              {{ if eq $job.Status "SUCCEEDED" }}
              <td><span class="label label-success">
              {{ else if eq $job.Status "RUNNING" }}
              <td><span class="label label-primary">
              {{ else if eq $job.Status "KILLED" }}
              <td><span class="label label-danger">
              {{ else }}
              <td><span class="label label-warning">
              {{ end }}
              {{ $job.Status }}</span></td>
          <td><a href="https://{{ $conf.HueURL }}/oozie/list_oozie_workflow/{{ $job.Id }}">{{ $job.Name }}</a> </td>
              <td><a href="/all_logs/{{ $job.Id }}">HUE Logs</a></td>
              <td><a href="{{ $job.ConsoleURL }}">Oozie Console</a></td>
            </tr>
            {{ end }}
          </table>
        </div>
      </div>

		</div>
	</div>
</div>
</body>
</html>
