{{ $conf := .Conf }}

<html>
  <head>
    <title>Minimoozie - {{ .Title }}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
           </button> <a class="navbar-brand" href="#"><img src="https://data.shopify.com/assets/data-logo-822bec14e758fa47c84a6aeb1f69c10aba2de8dbb4fa32299045d31020ba5ea3.svg" width="15px"></a>
				</div>

        <form method="POST" class="navbar-form navbar-left" role="search" action="/search">
          <div class="form-group">
            <input name="query" type="text" id="query" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">I believe.</button>
        </form>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
            <a href="http://{{ .Conf.OozieURL }}/oozie">Real Oozie</a>
						</li>
					</ul>
				</div>
				
			</nav>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Currently Running</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Id</th>
              <th>Started At</th>
              <th>Name</th>
              <th>History</th>
              <th>Logs</th>
              <th>Console</th>
            </tr>
            {{ range $index, $job := .Jobs.running }}
            <tr>
              <td>{{ $index }} </td>
              <td>{{ $job.StartTime }}</td>
              <td><a href="https://{{ $conf.HueURL }}/oozie/list_oozie_workflow/{{ $job.Id }}">{{ $job.Name }}</a></td>
              <td><a href="/flow/{{$job.Name}}">History</a></td>
              <td><a href="/all_logs/{{$job.Id}}">Logs</a></td>
              <td><a href="{{ $job.ConsoleURL }}">Oozie Console</a></td>
            </tr>
            {{ end }}
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recently Failed</h3>
        </div>
        <div class="panel-body">
          {{ range $index, $job := .Jobs.failed }}
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="/flow/{{ $job.Name }}">{{ $job.Name }}</a><span class="pull-right">Failed at: {{ $job.EndTime }}</span></h3>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th class="col-sm-2">Time</th>
                  <th class="col-sm-2">Action Name</th>
                  <th class="col-sm-2">Submitted</th>
                  <th class="col-sm-6">Error Message</th>
                </tr>
                    {{ range $index, $action := $job.Errors }} 
                        <tr>
                          <td>{{ $action.EndTime }}</td>
                          {{ if eq $action.Type "sub-workflow" }}
                              <td><a href="https://{{ $conf.HueURL }}/oozie/list_oozie_workflow/{{ $action.ExternalId }}">{{ $action.Name }}</a></td>
                          {{ else }}
                              <td><a href="https://{{ $conf.HueURL }}/jobbrowser/jobs/{{ $action.ExternalId }}/job_attempt_logs/0">{{ $action.Name }}</a></td>
                          {{ end }}
                          <td>{{ $job.User }} </td>
                          <td>{{ $action.ErrorMessage }}</td>
                        </tr>
                        {{ end }}
              </table>
            </div>
          </div>
          {{ end }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recent Successes</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Id</th>
              <th>Started At</th>
              <th>Ended At</th>
              <th>Name</th>
              <th>History</th>
              <th>Logs</th>
              <th>Console</th>
            </tr>
            {{ range $index, $job := .Jobs.successful }}
            <tr>
              <td>{{ $index }} </td>
              <td>{{ $job.StartTime }} </td>
              <td>{{ $job.EndTime }} </td>
              <td><a href="https://{{ $conf.HueURL }}/oozie/list_oozie_workflow/{{ $job.Id }}">{{ $job.Name }}</a> </td>
              <td><a href="/flow/{{$job.Name}}">History</a></td>
              <td><a href="/all_logs/{{$job.Id}}">Logs</a></td>
              <td><a href="{{ $job.ConsoleURL }}">Oozie Console</a></td>
            </tr>
            {{ end }}
          </table>
        </div>
      </div>
		</div>
	</div>
</div>
</body>
</html>
